/*************************
 *
 *Main
 *
 *************************/

h1,h2,h3,h4,h5,p,ul,li,label,form{
    margin:0;
    padding:0;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2.5%;
}

a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

.hidden{
    display: none;
}


/*************************
 *
 *Nav
 *
 ************************/

nav{
    font-size: .5em;
}

nav ul{
    list-style-type: none;
    text-align: center;
    margin: 5% 0;
}

nav li{
    display: inline-block;
    margin: 0 2%;
    padding: 2%;
}





/*************************
 *
 *Content
 *
 *************************/

h1{
    font-size: 1.6em;
    text-align: center;
}

p{
    margin: 5% 0;
    padding: 0 5%;
}

#user_signup, #user_login{
    width: 100%;
}

form{
    position: fixed;
    left: 0;
    top: 2%;
    height: 100%;
    width: 95%;
    margin-right: 2.5%;
}

.formWrapper{
    width: 75%;
    padding: 5%;
    border-radius: 20%;
    margin: 0 auto;
}

.formTop{
    text-align: center;
    margin: 2.5% 0;
}

label{
    font-size: .75em;
}

.buttonFormWrapper{
    text-align: center;
}

#signup_button, #login_button{
    margin: 10% 0;
    display: inline-block;
}

#cancel_button{
    margin: 10% 0;
    display: inline-block;
}

input{
    width: 100%;
    margin: 2% 0;
}

.buttonWrap{
    width: 30%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 50%;
}

button{
    display: block;
    margin: 10% auto;
    padding: 4%;
    font-size: .7em;
    font-weight: bold;
}


/****************************
 *
 *Budget Page
 *
 ****************************/

h2{
    margin: 5% 0;
    font-size: 1.5em;
}

h3{
    margin: 0 0 0 5%;
    font-size: 1em;
}

h4{
    margin: 0 0 0 8%;
    font-size: .9em;
}

#incomeLabel{
    font-size: .75em;
    padding-left: 8%;
}

#income{
    margin: 2% 0;
    width: 20%;
    font-size: .75em;
}

h5{
    font-size: 1.1em;
    margin: 2% 0;
    text-decoration: underline;
}

table{
    width: 100%;
}

td, th{
    width: 14%;
    text-align: center;
    font-size: .6em;
}

td input{
    width: 100%;
    margin: 0 auto;
    font-size: .7em;
}

#budgetButtonWrapper{
    text-align: center;
}

#saveBudget, #logOut{
    display: inline-block;
    margin: 5% 2%;
    padding: 2%;
}



/***********************
 *
 *More Info Page
 *
 ************************/

.linkWrap{
    width: 75%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 25%;
    font-size: .75em;
}

.onlyLink:hover{
    padding: 2%;
    border-radius: 20%;
}

.linkList{
    margin: 3% 0;
    list-style-type: none;
    text-align: center;
}

.linkList:hover{
    background: none;
}

/***************************
 *
 *Colors
 *
 ***************************/

li:hover{
    color: blue;
    background-color: gray;
}

a:hover{
    color: blue;
    background-color: gray;
}

.active{
    color: blue;
    background-color: gray;
}

form{
    background-color: rgba(256,256,256, .8);
}

.formWrapper{
    background-image: linear-gradient(blue 50%,transparent);
    color: white;
}

.buttonWrap, .linkWrap{
    background-image: linear-gradient(transparent,blue);
}

button{
    background-color: white;
}

button:hover{
    background-color: gray;
    color: blue;
}




